{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "env": {
    "browser": true, // Przeglądarka
    "node": true, // Node.js
    "es6": true // ES6

  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["warn", {"singleQuote": true,
    "printWidth": 150
    }],
    "import/first": 0
  },
  "parser": "@babel/eslint-parser"
}